@charset "UTF-8";

/* common.css */

body {
    font: 12px/20px 'Microsoft YaHei', sans-serif;
    color: #000;
}

a {
    color: #000;
}

@font-face {
    font-family: 'CIICWeather';
    src: url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.eot?hleaxv');
    src: url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.eot?#iefixhleaxv') format('embedded-opentype'),
        url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.ttf?hleaxv') format('truetype'),
        url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.woff?hleaxv') format('woff'),
        url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.svg?hleaxv#icomoon') format('svg');
    _src: url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.eot?hleaxv');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CIICWeather_IE';
    src: url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.eot?hleaxv');
    _src: url('http://api.weather.china.com.cn/weather/fonts/ciic_weather.eot?hleaxv');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'CIICWeather', 'CIICWeather_IE';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}